@media screen and (max-width: 480px) {
* {
    box-sizing: border-box;
}
    #top {
        padding: 12px;
        width: 60px;
        height: 60px;
    }
    .divider {
        width: calc(100% - 48px);
    }
    /* Typography */
    .headline-01 {
        font-size: 36.6px;
        line-height: calc(36.6px * 1.3);
    }
    .headline-02 {
        font-size: 29.292px;
        line-height: calc(29.292px * 1.3);
    }
    .headline-03 {
        font-size: 23.436px;
        line-height: calc(23.436px * 1.3);
    }
    .subtitle-01 {
        font-size: 18.756px;
        line-height: calc(18.756px * 1.3);
    }
    .paragraph-01 {
        font-size: 15px;
        line-height: calc(15px * 1.5);
    }
    .paragraph-02 {
        font-size: 12px;
        line-height: calc(12px * 1.5);
    }
    /* Typography Over */

    #navbar {
        padding: 12px 0px;
    } 
    #left-navbar img {
        width: 40px;
    }

    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 60px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      z-index: 8;

    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 500ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 500ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      width: 100%;
      color: var(--milk);
      background-color: var(--dark-cerulean);
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid var(--maastricht-blue);
    }

    /* Button */
    .primary-btn {
        min-width: 150px;
        min-height: 40px;
    }

    .secondary-btn {
        min-width: 150px;
        min-height: 40px;
    }
    /* Button Over */

    

    /* container */
    #container {
        width: 100%;
        /* padding: 24px; */
    }
    /* container Over */

    /* hero area */
    #hero-area {
        padding: 12px 24px;
        flex-direction: column;
        gap: 24px;
    }
    #hero-text {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        /* gap: 0; */
        margin: 0;
    }
    #hero-headline {
        align-items: center;
    }

    #hero-paragraph {
        text-align: center;
    }

    /* #hero-area button {
        display: none;
    } */
    #hero-area > [id^="nildeep-jadav"] {
        /* display: none; */
        height: 350px;
        filter: drop-shadow(24px 24px 60px rgba(0, 9, 14, 0.12));
    }

    #bg {
        display: none;
    }
    /* hero area over */

    /* About Me */
    #about-me {
        align-items: center;
        padding: 24px;
    }
    #about-me button {
        width: 100%;
    }
    /* About Me Over */

    .section-wrapper {
        width: 100%;
        padding: 12px 0px;
        row-gap: 6px;
        column-gap: 12px;
        text-align: center;
    }

    #toolbox-skillset, #footer, #tool-and-period, #colors{
        padding: 24px;
        flex-direction: column;
        gap: 24px;
    }
    #colors {
        align-self: center;
    }
    #primary-colors, #secondary-colors {
        align-items: center;
    }
    #tool-used, #prjt-period {
        justify-content: space-between;
        /* align-self: center; */
    }
    #tools .col-flex img {
        height: 65px;
    }
    #toolbox, #skillset {
        gap: 12px;
        width: 100%;
    }

    #prjt {
        gap: 24px;
        margin-top: 24px;
        align-items: center;
    }

    #eatummy-wrapper, #snackify-wrapper, #betamg-wrapper, #triaayam-wrapper, #other-prjt-wrapper, #prjt-at-rightmarc-wrapper {
        position: relative;
        padding: 0 12px;
        min-height: 40vh;
        /* margin: 24px 0; */
        /* padding: 12px 0px;
        gap: 12px; */
    }
    #eatummy-descr, #snackify-descr, #betamg-descr, #triaayam-descr, #other-prjt-descr, #prjt-at-rightmarc-descr {
        width: calc(100% - 48px);
        top: 36px;
        left: 24px;
        padding: 0;
        gap: 24px;
    }
    #prjt .secondary-btn {
        width: 100%;
    }

    .eatummy-img::before {
        content: "";
        position: absolute;
        height: 100%;
        opacity: 0.22;
        background: var(--eatummy-hero-image-url);
        /* background-position: center; */
        background-position: 60% 50%;
        background-repeat: no-repeat;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;    
    }
    .snackify-img::before {
        content: "";
        position: absolute;
        height: 100%;
        opacity: 0.22;
        background: var(--snackify-hero-image-url);
        /* background-position: center; */
        background-position: 60% 50%;
        background-repeat: no-repeat;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;    
    }
    .other-prjt-img::before {
        content: "";
        position: absolute;
        height: 100%;
        opacity: 0.22;
        background: var(--other-prjt-hero-image-url);
        /* background-position: center; */
        background-position: 60% 50%;
        background-repeat: no-repeat;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;    
    }
    
    .prjt-at-rightmarc-img::before {
        content: "";
        position: absolute;
        height: 100%;
        opacity: 0.22;
        background: var(--prjt-at-rightmarc-hero-image-url);
        /* background-position: center; */
        background-position: 60% 50%;
        background-repeat: no-repeat;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;    
    }
    
    .betamg-img::before {
        content: "";
        position: absolute;
        height: 100%;
        opacity: 0.22;
        background: var(--betamg-hero-image-url);
        /* background-position: center; */
        background-position: 60% 50%;
        background-repeat: no-repeat;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;    
    }
    .triaayam-img::before {
        content: "";
        position: absolute;
        height: 100%;
        opacity: 0.22;
        background: var(--triaayam-hero-image-url);
        /* background-position: center; */
        background-position: 60% 50%;
        background-repeat: no-repeat;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;    
    }

    .prjt-title {
        position: relative;
        gap: 6px;
    }

    #eatummy-img, #snackify-img, #triaayam-img, #betamg-img, #other-prjt-img, #prjt-at-rightmarc-img{
        display: none;
    }
    #down-arrow {
        display: none;
        margin-top: -20px;
        height: 70px;
        align-self: center;
    }
    #role, #problem, #goal, #design-steps, #before-after, #first-draft, #final-design {
        padding: 24px;
    }
    #before-after-title, #before-after-images {
        gap: 12px;
    }
    #before-after-images {
        height: 40vh;
    }
    /* Other Projects */
    .img-gallery {
        flex-direction: column;
    }
    /* Other Projects Over */

    .popup-img span {
        top: auto;
        left: calc(50% - 20px);
        right: auto;
        bottom: 12px;
        
    }
}
