*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    display: block;
}

.stacked {
    display: grid;
}


.popup-image {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}
#container {
    max-width: 100rem;
    margin-inline: auto;
    padding-inline: 2rem;
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    /* border: 3px solid hotpink; */
    /* aspect-ratio: 1 / 1.5; */
}

.card__img {
    
}